div{
    border-style:solid;
    border-width:1px;
    border-color: darkslategray;
    background-color: lightgrey;
}

.titleDiv {
    font-family: 'Roboto', sans-serif;
    font-size: 36pt;
    color: darkred;
}

#div2 {
    width: 50%;
    height:300px;
    float:left;
    background-color: lavenderblush;
    padding: 10px

}

#div3 {
    float:right;
    height: 300px;
    width: 49%;
    background-color: lavenderblush;
    padding: 10px
}

#div4{
    background:darkslategray;
    width:50%;
    height:50px;
    clear:both;
}